<ion-header translucent>
    <ion-toolbar color="dark">
     <ion-buttons slot="start">
         <ion-back-button></ion-back-button>

       </ion-buttons>
       <ion-title color="light" style="text-align: center">Prepayments/iExpenses</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content fullscreen >
    <!-- <fa-icon [icon]="threeDotsIcon" size="2x" class="threeDots"> </fa-icon> -->
   <!-- <div class="circle">Hello I am A Circle</div> -->
<!-- (click)="doCashReceipt(p)" -->
<!-- <div *ngIf="(prepaymentExists)"> -->
  <div *ngFor="let p of prepaymentList"  class="divCenter" >
     <!-- <div class="conten">
        <fa-icon [icon]="processIcon" size="2x" > </fa-icon>
       </div> -->
       <div class="conten2">
          <!-- <ion-item >  -->
                    <div class="boxed">
                      <!-- <h5 ion-text  >&nbsp;&nbsp;&nbsp;&nbsp;Invoice#: {{p['invoice_num']}} ({{p['operating_unit']}})
                      </h5> -->
                      <!-- <div class="leftAlign">  -->
&nbsp;&nbsp;&nbsp;&nbsp;<ion-checkbox class="checkBox" [(ngModel)]="p.checked_invoice_flag"></ion-checkbox>
                       &nbsp;&nbsp;&nbsp;&nbsp;Invoice#: {{p['invoice_num']}} ({{p['operating_unit']}})
                      <!-- </div> -->
                       <!-- <div class="rightAlign">  -->
                         <fa-icon [icon]="threeDotsIcon" class="threeDots"></fa-icon>
                        <!-- </div> -->
                    </div>
                    <!-- </ion-item> -->
                            <ion-item class="ionItemcss">
                                    <h6 ion-text color="dark" class="leftText" >Description</h6>
                                    <h6 ion-text  color="dark" class="rightText" >{{p.description}}</h6>
                                  </ion-item>
                                  <ion-item class="ionItemcss">
                                    <h6 ion-text color="dark" class="leftText" >Operating Unit</h6>
                                    <h6 ion-text  color="dark" class="rightText" >{{p.operating_unit}}</h6>
                                  </ion-item>
                                  <ion-item class="ionItemcss">
                                    <h6 ion-text color="dark" class="leftText" >Voucher Number</h6>
                                    <h6 ion-text  color="dark" class="rightText" >{{p.voucher_num}}</h6>
                                  </ion-item>
                                  <ion-item class="ionItemcss">
                                    <h6 ion-text color="dark" class="leftText" >Invoice #</h6>
                                    <h6 ion-text  color="dark" class="rightText" >{{p.invoice_num}}</h6>
                                  </ion-item>
                                  <ion-item class="ionItemcss">
                                    <h6 ion-text color="dark" class="leftText" >Invoice Type</h6>
                                    <h6 ion-text  color="dark" class="rightText" >{{p.invoice_type_lookup_code}}</h6>
                                  </ion-item>
                                  <ion-item class="ionItemcss">
                                    <h6 ion-text color="dark" class="leftText" >Invoice Type</h6>
                                    <h6 ion-text  color="dark" class="rightText" >{{p.invoice_type_lookup_code}}</h6>
                                  </ion-item>
                                  <ion-item class="ionItemcss">
                                    <h6 ion-text color="dark" class="leftText" >Invoice Date</h6>
                                    <h6 ion-text  color="dark" class="rightText" >{{p.invoice_date}}</h6>
                                  </ion-item>
                                  <ion-item class="ionItemcss">
                                    <h6 ion-text color="dark" class="leftText" >GL Date</h6>
                                    <h6 ion-text  color="dark" class="rightText" >{{p.gl_date}}</h6>
                                  </ion-item>
                                  <ion-item class="ionItemcss">
                                    <h6 class="leftText" ion-text color="dark">Currency:&nbsp;</h6>
                                    <h6 class="rightText" ion-text  color="dark">{{p['invoice_currency_code']}}</h6>
                                </ion-item>
       </div>

<!-- </div> -->

</div>
  <div *ngIf="(!prepaymentExists)" >
                <h5 ion-text class="noContent" >No Invoices Exists</h5>
   </div>
</ion-content>


<ion-footer style="height:80px !important;text-align:center; background-color: black !important;" >
  <ion-button size="large" color="success" (click)="doReceipt2()">Acknowledge</ion-button>
   </ion-footer>
