.highPriority
{
color: red;
margin-left: 10px;
font-weight: bold;
}

.normalPriority
{
color: black;
margin-left: 10px;
font-weight: bold;
}

.centerText
{
    text-align: center;
    width:100%;
}

.x1{

    font-weight: bold;

  }

  .inlineBlock
  {
    display:inline-block;
    // width: 100%;
  }

  .onlyBlock
  {
    display:block;
    // width: 100%;
  }

  .blockDiv1
  {
  display:block;
//   background-color: red;
  width: 100%;
  height: 100%;
}

.blockDiv2
{
display:block;
// background-color:yellow;
width: 100%;
height: 100%;
}

// .leftText
// {
//     text-align: left;
//     width:100%;
//     margin-left: 0%;
//     //   font-weight: bold;

// }

// .rightText
// {
//     text-align: right;
//     width:100%;
//     //   font-weight: bold;
//       color:  #696969;

// }

.leftText
{
    text-align: left;
    width:100%;
    margin-left: 0%;
      font-weight: bold;
      margin-left: 10%;

}

.rightText
{
    text-align: right;
    width:100%;
      font-weight: bold;
      // color:   #696969;
      margin-right: 10%;
      color:  #696969;

}

.boxed {
  margin-left: 10%;
  margin-right: 10%;
  margin-top:2%;
  display: inline-block;
  width: 80%;
  height: 200%;
  border-radius: 10px;
  // border: 1px solid #000;
  text-align: left;
  background-color: #5d6371;   //9a9ea6
  color:white;
  vertical-align: middle;
  // margin-bottom: -20px;
   line-height: 2;
}

.noContent {
  margin-left: 10%;
  margin-right: 10%;
  margin-top:2%;
  font-size:20px;
  // display: inline-block;
  // width: 80%;
  // height: 200%;
  // border-radius: 10px;
  text-align: center;
  // background-color: #5d6371;   //9a9ea6
  color:red;
}
.ionItemcss{

  margin-left:10%;margin-right:10%;
}

ion-content{

--ion-background-color: white;
}



.bgImage{
  // background-image: url(../../assets/img/proess.jpg);
  position: relative;
  background-repeat: no-repeat;
}

.divCenter
{
// margin-left:  13vh;
  //  margin-right:  auto;
//margin-top: 30vh;
display: block;
text-align: center;

position: relative;
  // border: 3px solid green;

}

.conten{
  // position: relative;
  // top: 45%;
  //  bottom: 55%;
display: inline-block;
margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  //
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background: #000;

}

.conten2{
  margin-left:30px;
display: inline-block;
min-width: 50%;

}

vertical-center {

  width: 500px;
  height: 500px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 500px;
  text-align: center;
  background: #000

}

// .circle-with-text {
//   justify-content: center;
//   align-items: center;
//   border-radius: 100%;
//   text-align: center;
//   display: flex;
// }

.circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 500px;
  text-align: center;
  background: #000;
}

.threeDots{
float: right;
margin-right: 20px;
// vertical-align: middle !important;
}

.rightAlign{
  // display: block;
  text-align: right;
}


.leftAlign{
   display: block;
  text-align: left;
}

.checkBox{
  margin-top:8px;
  // --border-radius:10px;
  // --size:20px;
}
