<ion-header>
  <ion-toolbar color="dark">
   <ion-buttons slot="start">
       <ion-back-button></ion-back-button>

     </ion-buttons>
     <ion-title color="light" style="text-align: center">Signature....</ion-title>
</ion-toolbar>
</ion-header>

<ion-content no-scroll>
<div style="text-align: center; margin-top: 30px;">
<signature-pad [options]="signaturePadOptions" id="signatureCanvas"></signature-pad>
<div>
<ion-text color="primary" style="font-size: 15px;">{{prepaymentDetails[0].vendor_name}}</ion-text>
</div>
</div>

  </ion-content>

  <ion-footer style="background-color: black !important">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
    <ion-button size="small" (click)="drawCancel()">Cancel</ion-button>
        </ion-col>
        <ion-col col-4>
    <ion-button size="small" (click)="drawClear()">Clear</ion-button>
        </ion-col>
        <ion-col col-4>
    <ion-button size="small" style="background-color:red;" (click)="drawComplete()">Done</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
   </ion-footer>
