page-signature {
    signature-pad {
        canvas {
          border: dashed 1px #cccccc;
          width: 100%; height: 200px;
        }
      }
    }

    .leftText
    {
        text-align: left;
        width:100%;
        margin-left: 0%;
          font-weight: bold;

    }

    .rightText
    {
        text-align: right;
        width:100%;
          font-weight: bold;
          color:  #696969;

    }
