<ion-header>
    <ion-toolbar color="dark">
     <ion-buttons slot="start">
         <ion-back-button></ion-back-button>

       </ion-buttons>
       <ion-title color="light" style="text-align: center">Tecom Letters</ion-title>
   </ion-toolbar>
 </ion-header>

<ion-content>


    <div class="boxCss">
    <ion-button color="tertiary" expand="block" disabled="true" class="btn-css">
        TECOM - Salary Certificate for Immigration - Arabic
      </ion-button>
      </div>

      <div class="boxCss">
          <ion-button color="tertiary" expand="block" disabled="true" class="btn-css">
              TECOM - RTA Driving License New - Arabic
            </ion-button>
            </div>
            <div class="boxCss">
                <ion-button color="tertiary" expand="block" disabled="true" class="btn-css">
                    TECOM - RTA Driving License Renewal - Arabic
                  </ion-button>
                  </div>
                  <div class="boxCss">
                      <ion-button color="tertiary" expand="block" disabled="true" class="btn-css">
                          TECOM - RTA Driving License New Bike - Arabic
                        </ion-button>
                        </div>
                        <div class="boxCss">
                            <ion-button color="tertiary" expand="block" disabled="true" class="btn-css">
                                TECOM - RTA Driving License Renewal Bike - Arabic
                              </ion-button>
                              </div>
                              <div class="boxCss">
                                  <ion-button color="tertiary" expand="block" disabled="true" class="btn-css">
                                      TECOM - Boat Registration Personal - Arabic
                                    </ion-button>
                                    </div>
                                    <div class="boxCss">
                                        <ion-button color="tertiary" expand="block" disabled="true" class="btn-css">
                                            TECOM - Liquor License - Arabic
                                          </ion-button>
                                          </div>
</ion-content>
