

<ion-header>
    <ion-toolbar color="dark">
     <ion-buttons slot="start">
         <ion-back-button></ion-back-button>

       </ion-buttons>
       <ion-title color="light" style="text-align: center">Print Letters</ion-title>
   </ion-toolbar>
 </ion-header>

<ion-content>
  <div id="div1" class="divCenter">

    <h1 style="text-align: center; font-size: 30px;color:red;" color="danger">{{letterType}}</h1>

<!-- Section for Salary Certificate - English -->

<div id="salCert" *ngIf="(letterType=='Salary Certificate - English')">
    <ion-item>
    </ion-item>
<ion-item>
   <ion-label color="danger" stype="font-weight:bold; font-size:12;">*</ion-label><ion-label>Company/Consulate</ion-label><ion-label>/Bank Name</ion-label>
    <ion-input maxLength="40" class="txt-left" color="primary" text-center id="companySegs" [(ngModel)]="companySegs">
     </ion-input>
</ion-item>

<ion-item>
 <ion-label>Travel Destination</ion-label>
  <ion-input  maxLength="40" class="txt-center" color="primary" text-center id="travel" [(ngModel)]="travel">
   </ion-input>
</ion-item>

<ion-item>
    <ion-label>Salary Updated in Tecom</ion-label>
    <ion-select placeholder="Select One" id="salUpdFlag" [(ngModel)]="salUpdFlag" text-center>
      <ion-select-option value="YES">Yes</ion-select-option>
      <ion-select-option value="NO">No</ion-select-option>
    </ion-select>
  </ion-item>

     <ion-button color="tertiary" expand="block" (click)="submitRequest()" style="margin-top: 50px;height:50px !important;">
        Submit
      </ion-button>
</div>


<!-- Section for Payslip Letter -->
<!--
<div id="salCert" *ngIf="(letterType=='Payslip Letter')">
    <ion-item>
    </ion-item>
<ion-item>
   <ion-label color="danger" stype="font-weight:bold; font-size:12;">*</ion-label><ion-label>Company/Consulate</ion-label><ion-label>/Bank Name</ion-label>
    <ion-input maxLength="40" class="txt-left" color="primary" text-center id="companySegs" [(ngModel)]="companySegs">
     </ion-input>
</ion-item>

<ion-item>
 <ion-label>Travel Destination</ion-label>
  <ion-input  maxLength="40" class="txt-center" color="primary" text-center id="travel" [(ngModel)]="travel">
   </ion-input>
</ion-item>

<ion-item>
    <ion-label>Salary Updated in Tecom</ion-label>
    <ion-select placeholder="Select One" id="salUpdFlag" [(ngModel)]="salUpdFlag" text-center>
      <ion-select-option value="YES">Yes</ion-select-option>
      <ion-select-option value="NO">No</ion-select-option>
    </ion-select>
  </ion-item>

     <ion-button color="tertiary" expand="block" (click)="submitRequest()" style="margin-top: 50px;height:50px !important;">
        Submit Payslip
      </ion-button>
</div> -->


<!-- Section for Attendance Letter -->
<!--
<div id="salCert" *ngIf="(letterType=='Attendance Letter')">
    <ion-item>
    </ion-item>
<ion-item>
   <ion-label color="primary" stype="font-weight:bold; font-size:12;">From Date</ion-label>
    <ion-datetime displayFormat="DD-MMM-YYYY" class="txt-left" color="primary" text-center id="attendanceFromDate" [(ngModel)]="attendanceFromDate">
     </ion-datetime>
</ion-item>

<ion-item>
   <ion-label color="primary" stype="font-weight:bold; font-size:12;">To Date</ion-label>
    <ion-datetime displayFormat="DD-MMM-YYYY" class="txt-left" color="primary" text-center id="attendanceToDate" [(ngModel)]="attendanceToDate">
     </ion-datetime>
</ion-item>

     <ion-button color="tertiary" expand="block" (click)="submitRequest()" style="margin-top: 50px;height:50px !important;">
        Submit Attendance
      </ion-button>
</div> -->



</div>
</ion-content>
