.section-css{
  text-align:center !important;
}

.centerText{
  text-align:center !important;

}

.divCenter
{
// margin: auto;
margin-top: 20vh;
display: block;

margin-left:3vw;
margin-right:3vw;

// width:75%;
}
