<ion-tabs>

  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="tab1">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Tab One</ion-label>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="tab2">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Tab Two</ion-label>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Tab Three</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="summary">
      <ion-icon name="send"></ion-icon>
      <ion-label>Tab Summary</ion-label>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="signature">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Tab Signature</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="ListPrePayments">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Payment List</ion-label>
    </ion-tab-button>
  
  </ion-tab-bar>



</ion-tabs>
