<ion-header>
    <ion-toolbar color="dark">
     <ion-buttons slot="start">
         <ion-back-button></ion-back-button>

       </ion-buttons>
       <ion-title color="light" style="text-align: center">Arabic Letters</ion-title>
   </ion-toolbar>
 </ion-header>

<ion-content>


    <div class="boxCss">
    <ion-button color="tertiary" expand="block" disabled="true" class="btn-css">
        Business Consulate Letter - Arabic
      </ion-button>
      </div>

      <div class="boxCss">
          <ion-button color="tertiary" expand="block" disabled="true" class="btn-css">
              Employement Certificate - Arabic
            </ion-button>
            </div>

            <div class="boxCss">
                <ion-button color="tertiary" expand="block" disabled="true" class="btn-css">
                    Personnel Consulate Letter - Arabic
                  </ion-button>
                  </div>

                  <div class="boxCss">
                      <ion-button color="tertiary" expand="block" disabled="true" class="btn-css">
                          Salary Certificate - Arabic
                        </ion-button>
                        </div>
</ion-content>
