// .boxCss
// {
//     height: auto;
//     width: 100%;
//     //display: inline-block;
//     margin-right: 2%;
//     margin-top: 2%;
//
// }
//
// .btn-css
// {
//     background-color: #353D4e;
// width: 100%;
//       //  height: 100%;
//         // background:#85DAF6;
//
//         //padding: 0px;
//         border-top-left-radius: 15px;
//         border-top-right-radius: 15px;
//         border-bottom-left-radius: 15px;
//         border-bottom-right-radius: 15px;
//
//         margin-right: 2%;
//         //margin-top: 10%;
//
// }

.boxCss
{
    height: auto;
    // width: 100%;
    //
    // margin-right: 2%;
    margin-top: 2%;

}

.btn-css
{
    background-color: #353D4e;
//width: 100%;



        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        //margin-right: 2%;
        // margin-left:3vw;
        // margin-right:3vw;
        //margin-top: 10%;

        margin-left:3vw;
        margin-right:3vw;
        height: 50px;

}
