.mainDiv{
//
// text-align: center !important;
// margin: auto !important;
margin-left: 80px !important;
margin-top: 40px !important;
}

.boxCss
{
    height: auto;
    // width: 100%;
    //
    // margin-right: 2%;
    margin-top: 2%;
    display: inline-block;

}

.btn-css
{
    background-color: #353D4e;
//width: 100%;



        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        //margin-right: 2%;
        // margin-left:3vw;
        // margin-right:3vw;
        //margin-top: 10%;

        margin-top:3vw;
        margin-left:2vw;
        margin-right:2vw;
        height: 210px;
        width: 180px;
        font-size: 105%;

}

//
// .boxCss
// {
//     height: auto;
//     // width: 100%;
//     //
//     // margin-right: 2%;
//     margin-top: 2%;
//
// }
//
// .btn-css
// {
//     background-color: #353D4e;
// //width: 100%;
//
//
//
//         border-top-left-radius: 15px;
//         border-top-right-radius: 15px;
//         border-bottom-left-radius: 15px;
//         border-bottom-right-radius: 15px;
//
//         //margin-right: 2%;
//         // margin-left:3vw;
//         // margin-right:3vw;
//         //margin-top: 10%;
//
//         margin-left:3vw;
//         margin-right:3vw;
//         height: 50px;
//
// }

.mx1
{


width:200px;
text-overflow: clip;
overflow: visible;
white-space: normal;

}

.mx2
{
display: block;

}
