<ion-header>
    <ion-toolbar color="dark">
     <ion-buttons slot="start">
         <ion-back-button></ion-back-button>

       </ion-buttons>
       <ion-title color="light" style="text-align: center">English Letters</ion-title>
   </ion-toolbar>
 </ion-header>

<ion-content>

<div class="mainDiv">
    <div class="boxCss">
    <ion-button color="tertiary" expand="block" disabled="true" class="btn-css">
        <span class="mx1">Bank Transfer Loan Letter   </span>


      </ion-button>
      <!-- <h6 ion-text color="dark" class="btn-txt" >Bank Transfer</h6>
      <h6 ion-text color="dark" class="btn-txt" >Loan Letter - English</h6> -->
      </div>

      <div class="boxCss">
          <ion-button color="tertiary" expand="block" disabled="true" class="btn-css">
              <!-- Business Consulate Letter - English -->
                <span class="mx1">Business Consulate Letter</span>
            </ion-button>
            </div>

            <div class="boxCss">
                <ion-button color="tertiary" expand="block" disabled="true" class="btn-css">
                    <!-- Employement Certificate - English -->
                        <span class="mx1"> Employement Certificate</span>
                        <!-- <span class="mx1">.................</span> -->
                  </ion-button>
                  </div>

                  <div class="boxCss">
                      <ion-button color="tertiary" expand="block" disabled="true" class="btn-css">
                          <!-- Personnel Consulate Letter - English -->
                            <span class="mx1">Personnel Consulate Letter   </span>

                        </ion-button>
                        </div>

                        <div class="boxCss">
                            <ion-button color="tertiary" expand="block"  class="btn-css" (click)="SalaryCertificateEng('Salary Certificate - English')">
                                <!-- Salary Certificate - English -->
                                <span class="mx1">   <br/> Salary Certificate </span>
                              </ion-button>
                              </div>

                              <div class="boxCss">
                                  <ion-button color="tertiary" expand="block" disabled="true" class="btn-css">
                                      <!-- Gardens Renewal Letter - English -->
                                        <span class="mx1"> Gardens Renewal Letter   </span>
                                    </ion-button>
                                    </div>


                              <div class="boxCss">
                                  <ion-button color="tertiary" expand="block" disabled="true" class="btn-css">
                                      <!-- Reference Letter - English -->
                                        <span class="mx1">  <br/> Reference Letter</span>
                                    </ion-button>
                                    </div>
                                  </div>

</ion-content>
