<ion-header>
     <ion-toolbar color="dark">
      <!-- <ion-buttons>
         <ion-back-button style="color: white;" slot="icon-only" icon="home"> </ion-back-button>
        <ion-title color="light" style="text-align: center">My Services</ion-title>
      </ion-buttons> -->

      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>

        </ion-buttons>
        <ion-title color="light" style="text-align: center">My Services</ion-title>
    </ion-toolbar>



  </ion-header>

<ion-content padding>

    <!-- <div class="boxCss">
        <button ion-button color="dark" class="btn-css" (click)="printSalarySlip()">
          <ion-icon class="iconCss" slot="icon-only" name="document"></ion-icon>
        </button>
        <h6 ion-text color="dark" class="btn-txt" >Salary</h6>
        <h6 ion-text color="dark" class="btn-txt" >Certificate</h6>
      </div> -->

<div id="div1" class="divCenter" *ngIf="(appName=='FINANCE')">
  <div class="boxCss">
      <button ion-button color="dark" class="btn-css" >
        <ion-icon class="iconCss" slot="icon-only" name="logo-usd" (click)="openCashAcknowledge()"></ion-icon>
      </button>
      <h6 ion-text color="dark" class="btn-txt" >Cash</h6>
      <h6 ion-text color="dark" class="btn-txt" >Acknowledgement</h6>
    </div>
</div>

<div id="div1" class="divCenter" *ngIf="(appName=='HR')">
  <div class="boxCss">
      <button ion-button color="dark" class="btn-css" >
        <ion-icon class="iconCss" slot="icon-only" name="mail-open" (click)="showTecomLetters()"></ion-icon>
      </button>
      <h6 ion-text color="dark" class="btn-txt" >Tecom</h6>
      <h6 ion-text color="dark" class="btn-txt" >Letter</h6>
    </div>

  <div class="boxCss">
      <button ion-button color="dark" class="btn-css" >
        <ion-icon class="iconCss" slot="icon-only" name="print" (click)="showEnglishLetters()"></ion-icon>
      </button>
      <h6 ion-text color="dark" class="btn-txt" >English</h6>
      <h6 ion-text color="dark" class="btn-txt" >Letter</h6>
    </div>

  <div class="boxCss">
      <button ion-button color="dark" class="btn-css" >
        <ion-icon class="iconCss" slot="icon-only" name="print" (click)="showArabicLetters()"></ion-icon>
      </button>
      <h6 ion-text color="dark" class="btn-txt" >Arabic</h6>
      <h6 ion-text color="dark" class="btn-txt" >Letter</h6>
    </div>

      <div class="boxCss">
          <button ion-button color="dark" class="btn-css-disabled" disabled="true">
            <ion-icon class="iconCss" slot="icon-only" name="calendar"></ion-icon>
          </button>
          <h6 ion-text color="dark" class="btn-txt" >Leave</h6>
          <h6 ion-text color="dark" class="btn-txt" >Request</h6>
        </div>

        <div class="boxCss">
            <button ion-button color="dark" class="btn-css-disabled" disabled="true">
              <ion-icon class="iconCss" slot="icon-only" name="calendar"></ion-icon>
            </button>
            <h6 ion-text color="dark" class="btn-txt" >Leave</h6>
            <h6 ion-text color="dark" class="btn-txt" >Balance</h6>
          </div>

          <div class="boxCss">
              <button ion-button color="dark" class="btn-css-disabled" disabled="true" (click)="goAction('Payslip Letter')">
                <ion-icon class="iconCss" slot="icon-only" name="document"></ion-icon>
                <!-- <fa-icon name="file-powerpoint-o"  class="aw-ico1"></fa-icon> -->
                <!-- <fa-icon [icon]="payslipIcon" size="2x"> </fa-icon> -->
              </button>
              <h6 ion-text color="dark" class="btn-txt" >Payslip</h6>
              <h6 ion-text color="dark" class="btn-txt" >&nbsp;</h6>
            </div>

            <div class="boxCss">
                <button ion-button color="dark" class="btn-css-disabled" disabled="true" (click)="goAction('Attendance Letter')" >
                  <ion-icon class="iconCss" slot="icon-only" name="calendar"></ion-icon>
                </button>
                <h6 ion-text color="dark" class="btn-txt" >Attendance</h6>
                <h6 ion-text color="dark" class="btn-txt" >&nbsp;</h6>
              </div>

</div>
        <!-- <div class="boxCss">
            <button ion-button color="dark" class="btn-css" >
              <ion-icon class="iconCss" slot="icon-only" name="cash"></ion-icon>
            </button>
            <h6 ion-text color="dark" class="btn-txt" >Employment</h6>
            <h6 ion-text color="dark" class="btn-txt" >Certificate</h6>
          </div> -->

</ion-content>

<!-- <ion-footer style="height:100px !important;text-align:center; background-color: black !important;"> -->
<!-- </ion-footer> -->
