.listBgPage{
    //  background-color: red;
    //min-height: 100%;
//    overflow-x: hidden !important;
  //  overflow-y: hidden !important;
//    //overflow: inherit;
     display: block;
  //   margin: auto !important;
//margin-top:300px !important;

//background-image: url(../../assets/img/sign.jpg);
// url(https://i.stack.imgur.com/mSXoO.png) !important;
// background-repeat: no-repeat;
//background-size: 100% 100%;

margin-top: 30vh;

}


.amtClass
{
   // opacity: .5;
  // color:red;
  font-size:14px;
}

.searcFont {
    font-size: 10px; //Preferred size here
}

.descClass
{
    //width:20px !important;
font-size:16px;
//white-space: nowrap;
overflow: hidden;
//text-overflow: ellipsis;

}

.invClass
{
    font-size:14px;
}

.img-css
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:200px;
    width:200px;
    border-radius: 50%;
    margin-top:30px;
}

.centerText
{
    text-align: center;
    width:100%;
    color:blue;
}

.leftText
{
    text-align: left;
    width:100%;
    margin-left: 0%;
      font-weight: bold;

}

.rightText
{
    text-align: right;
    width:100%;
      font-weight: bold;
      color: 	#696969;

}

.txt-center
{
    text-align: center;
      font-weight: bold;
}
.x1{

  font-weight: bold;

}

.CameraCss
{
font-size: 90px;
margin: auto;
z-index:1000;
color:#fff;
       }
