<!-- <ion-header>
  <ion-toolbar>
    <ion-title>hr-options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->


<ion-header>
  <ion-toolbar color="dark">

    <ion-title color="light" style="text-align: center">Printing Services 222</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<!-- <fa-icon [icon]="payslipIcon" size="2x"> </fa-icon> -->

        <div id="blankPage" class="listBgPage" *ngIf="(blankPage || blankPage==undefined)">

                <h1 style="text-align: center; margin-top: 50px;font-size: 50px;color:white;" color="danger">Welcome to ERP Kiosk</h1>
                <ion-button color="tertiary" expand="block" (click)="scanCodeTemp()" style="height:50px !important;margin-top: 70px;margin-left:3vw;margin-right:3vw">
                    Scan Your ID Card
                  </ion-button>
                </div>

    <!-- <img [src]="sanitized.bypassSecurityTrustUrl('data:image/jpg;base64,'+xx)"/> -->
<div *ngIf="(!blankPage)">
    <div *ngFor="let p of employeeDetails" >
            <!-- <ion-item lines="full">  -->
                <img class="img-css" [src]="sanitized.bypassSecurityTrustUrl('data:image/jpg;base64,'+p.emp_image)" [title]=p.full_name/>

                            <!-- <ion-item > -->
                            <!-- <ion-text color="dark" class="centerText" > {{p['full_name']}} </ion-text> -->
                            <!-- </ion-item> -->

                            <h6 ion-text color="primary" class="centerText x1" >{{p['full_name']}}</h6>
                                <ion-item >
                                    <h6 ion-text color="dark" class="leftText" >Employee#</h6>
                                    <h6 ion-text  color="dark" class="rightText" >{{p['employee_number']}}</h6>
                                  <!-- Employee #: <ion-text color="dark" class="descClassx"> {{p['employee_number']}} </ion-text> -->
                                </ion-item>

                                <ion-item >
                                 <h6 ion-text color="dark" class="leftText" >Business Group</h6>
                                 <h6 ion-text  color="dark" class="rightText" >{{p['business_group_name']}}</h6>
                                  <!-- Business Group:  <ion-text color="dark" class="descClassx"> {{p['business_group_name']}} </ion-text> -->
                                </ion-item>

                                <ion-item lines="full">
                                        <h6 ion-text color="dark" class="leftText" >Supervisor</h6>
                                        <h6 ion-text  color="dark" class="rightText" >{{p['supervisor_name']}}</h6>
                                    <!-- Supervisor: <ion-text color="dark" class="descClass"> {{p['supervisor_name']}} </ion-text> -->
                                </ion-item>

                                    <ion-item lines="full">
                                            <h6 ion-text color="dark" class="leftText" >Department</h6>
                                            <h6 ion-text  color="dark" class="rightText" >{{p['department']}}</h6>
                                 <!-- Department: <ion-text color="dark" class="descClass"> {{p['department']}} </ion-text> -->
                                 </ion-item>

                                 <ion-item>
                                 <ion-row style="margin-top:50px !important; word-wrap: normal !important;">
                                        OTP will be sent to your mobile number {{p['phone_number']}}
                            </ion-row>
                        </ion-item>

                    <ion-item class="txt-center">
                            <!-- <ion-row style="margin-top:10px !important; word-wrap: normal !important;"> -->

                                    <div class="txt-center">
                                <!-- <ion-col col-4>  -->
                                    <ion-input  class="txt-center" color="primary" inputMode="full-width-latin" type="tel" pattern="[0-9]*" text-left id="otpNumber" [(ngModel)]="otpNumber"
                                placeholder="Enter OTP">
                                 </ion-input>
                                </div>
                                <!-- </ion-col>
                               </ion-row> -->
                            </ion-item>

                                 <ion-button expand="block" color="tertiary" (click)="openServices()"
                                 style="margin-top:20px; height: 50px;margin-left:3vw;margin-right:3vw">Access Services</ion-button>

                </div>
              </div>
</ion-content>
<!-- <ion-footer style="height:100px !important;text-align:center; background-color: black !important;" >
   </ion-footer> -->
