<ion-header>
  <ion-toolbar color="dark">
   <ion-buttons slot="start">
       <ion-back-button></ion-back-button>

     </ion-buttons>
     <ion-title color="light" style="text-align: center">My Apps</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content padding>

  <div id="div1" class="divCenter">

    <div class="boxCss">
        <button ion-button color="dark" class="btn-css" >
          <ion-icon class="iconCss" slot="icon-only" name="contacts" (click)="openApps('HR')"></ion-icon>
        </button>
        <h1 ion-text color="dark" class="btn-txt" >HR</h1>
        <!-- <h6 ion-text color="dark" class="btn-txt" >Letter</h6> -->
      </div>

      <div class="boxCss">
          <button ion-button color="dark" class="btn-css" >
            <ion-icon class="iconCss" slot="icon-only" name="logo-usd" (click)="openApps('FINANCE')"></ion-icon>
          </button>
          <h1 ion-text color="dark" class="btn-txt" >Finance</h1>
          <!-- <h6 ion-text color="dark" class="btn-txt" >Letter</h6> -->
        </div>
        <div class="boxCss">
          <button ion-button color="dark" class="btn-css-disabled" disabled="true">
            <ion-icon class="iconCss" slot="icon-only" name="cart"></ion-icon>
          </button>
          <h1 ion-text color="dark" class="btn-txt" >Procurement</h1>
          <!-- <h6 ion-text color="dark" class="btn-txt" >Letter</h6> -->
        </div>
</div>
</ion-content>
