.boxCss
{
    height: 200px;
    width: 30%;
    display: inline-block;
    margin-right: 20%;
    margin-top: 5%;

}

.btn-css
{
    background-color: #353D4e;
width: 100%;
        height: 100%;
        // background:#85DAF6;

        //padding: 0px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        margin-right: 2%;
        margin-top: 10%;



}

.btn-css-disabled
{
    background-color: #353D4e;
width: 100%;
        height: 100%;
        // background:#85DAF6;

        //padding: 0px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        margin-right: 2%;
        margin-top: 10%;
        opacity: .5;

}

.iconCss
{
font-size: 60px;
color: white;
margin: auto;
width: 100%;
        height: 70%;
   }

   .btn-txt
   {
       margin-top: 3px;
 width:100%;


margin: 0px;

text-align: center;

   }

   .divCenter
   {
   margin-left:  13vh;
      margin-right:  auto;
   //margin-top: 30vh;
   display: block;

   }
