page-signature {
    signature-pad {
        canvas {
          border: dashed 1px #cccccc;
          width: 100%; height: 500px;
        }
      }
    }

    .boxed {
      margin-left: 10%;
      margin-right: 10%;
      margin-top:2%;
      // display: inline-block;
      width: 80%;
      // height: 200%;
      // border: 1px solid #000;
      text-align: center;
      // background-color: #5d6371;   //9a9ea6
      // color:white;
    }

    .headerBoxed {
      margin-left: 10%;
      margin-right: 10%;
      margin-top:2%;
      display: inline-block;
      width: 80%;
      height: 200%;
      border-radius: 10px;
      // border: 1px solid #000;
      text-align: center;
      background-color: #5d6371;   //9a9ea6
      color:white;
      line-height: 2;
    }

    .buttonBar {
      margin-left: 10%;
      margin-right: 10%;
      margin-top:2%;
      display: inline-block;
      width: 80%;
      // height: 200%;
      border-radius: 10px;
      // border: 1px solid #000;
      text-align: center;
      background-color: #5d6371;   //9a9ea6
      // color:white;
      line-height: 2;
    }
 
