<ion-header>
     <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>

        </ion-buttons>
        <ion-title color="light" style="text-align: center">Cash Acknowledge</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <div>
    <h5 ion-text class="headerBoxed" >Invoice#: {{ prepaymentDetails[0].invoice_num}} ({{prepaymentDetails[0].operating_unit}})</h5>
  </div> -->
    <div style="text-align: center; margin-top: 70px;">
</div>

<h5 style="text-align: center; color:red;">Kindly sign in below box</h5>

<div style="text-align: center;">

<signature-pad [options]="signaturePadOptions" id="signatureCanvas"></signature-pad>
<!-- <div>
<ion-text color="primary" style="font-size: 10px;">{{prepaymentList.vendor_name}}</ion-text>
</div> -->
</div>

<div class="buttonBar">
  <ion-button size="large" color="danger" (click)="drawClear()">Clear</ion-button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <ion-button size="large" color="success" (click)="drawComplete()">Done...</ion-button>
  </div>

  <img id="scream" [src]="imgUrl" alt="The Scream" width="800" height="720" #xxt2 hidden='true'>
  <!-- <p>Canvas to fill:</p> -->
  <canvas id="myCanvas" width="800" height="720" #xxt1  hidden='true'
  style="border:1px solid #d3d3d3;">
  Your browser does not support the HTML5 canvas tag.</canvas>

 </ion-content>
